.cover {
  margin: 0;
  padding: 92px 48px 0;
  max-width: 1184px;
  width: 100%;
  height: calc(100vw/1.6);
  max-height: 740px;
}

@media screen and (max-width: 1279px) {
  .cover {
    padding: 92px 0 0;
    max-width: 1024px;
    max-height: 640px;
  }
}
@media screen and (max-width: 1023px) {
  .cover {
    padding: 90px 0 0;
    max-width: 768px;
    max-height: 480px;
  }
}
@media screen and (max-width: 767px) {
  .cover {
    padding: 66px 0 0;
    max-width: 320px;
    max-height: 200px;
  }
}
